<div class="container">
  <div class="row">
    <div class="col l10 offset-l1 center-align">
      <h4 class="gradient">SHARE THE NEW SONG "JEAN JACKET" TO WIN A SIGNED JEAN JACKET AND [BOOM UE LOGO] SPEAKER FROM</h4>
    </div>
    <div class="col s12 m10 offset-m1">
      <img class="full-w logo" src="https://s3.amazonaws.com/myfangate.com/tss2016/tsslogo.png">
    </div>
  </div>
  <!-- desktop mini -->
  <div class="row hide-on-small-only">
    <div class="col s12 m2 offset-m2">
      <img class="full-w z-depth-3 album-mini" src="https://s3.amazonaws.com/myfangate.com/tss2016/storiesformonday.png">
    </div>
    <div class="col s12 m6 center-align">
      <div class="date-wrap valign-wrapper">
        <div class="valign">
          <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/tss2016/storieslogo.png">
          <h4 class="gradient date">Available 4/1/2016</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile mini -->
  <div class="row hide-on-med-and-up">
    <div class="col s12 center-align">
      <img class="full-w small-band" src="https://s3.amazonaws.com/myfangate.com/tss2016/band-promo.jpg">
      <img class="full-w large-mini" src="https://s3.amazonaws.com/myfangate.com/tss2016/storiesformonday.png">
      <h4 class="gradient date">Available 4/1/2016</h4>
    </div>
  </div>
  <!-- promo and video desktop -->
  <div class="row hide-on-small-only">
    <div class="col s12 gradient-container">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/tss2016/band-promo.jpg">
      <div class="gradient-fade"></div>
      <div class="col s12 m8 offset-m2 video-col center-align">
        <div class="video-container z-depth-3">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/NOUt_HKCQjc?rel=0&modestbranding=true" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-title z-depth-3"><h5>WE CAME, WE CONQUERED, NOW RELIVE OUR “JEAN JACKET” EVENTS!</h5></div>
      </div>
    </div>
  </div>
  <!-- promo and video mobile -->
  <div class="divider hide-on-med-and-up"></div>
  <div class="row hide-on-med-and-up">
    <div class="col s12 center-align">
      <h5 class="gradient">WE CAME, WE CONQUERED, NOW RELIVE OUR “JEAN JACKET” EVENTS!</h5>
      <div class="col s12 m8 offset-m2 center-align">
        <div class="video-container">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/NOUt_HKCQjc?rel=0&modestbranding=true" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="divider hide-on-med-and-up"></div>
</div>
