<div class="row bundles">
  <div class="col s12 center-align">
    <h4 class="gradient">PRE-ORDER BUNDLES ARE STILL AVAILABLE</h4>
  </div>
  <div class="col s12 m4">
    <img class="full-w hoverable" src="<%= lorem.image("640x640") %>">
  </div>
  <div class="col s12 m4">
    <img class="full-w hoverable" src="<%= lorem.image("640x640") %>">
  </div>
  <div class="col s12 m4">
    <img class="full-w hoverable" src="<%= lorem.image("640x640") %>">
  </div>
</div>
