<div class="row bundles">
  <div class="col s12 center-align">
    <h4 class="gradient">PRE-ORDER BUNDLES ARE STILL AVAILABLE</h4>
  </div>
  <div class="col s12 m4">
    <a href="http://thesummerset.merchnow.com/" target="_blank"><img class="full-w hoverable" src="https://s3.amazonaws.com/myfangate.com/tss2016/bundle1.jpg"></a>
  </div>
  <div class="col s12 m4">
    <a href="http://thesummerset.merchnow.com/" target="_blank"><img class="full-w hoverable" src="https://s3.amazonaws.com/myfangate.com/tss2016/bundle2.jpg"></a>
  </div>
  <div class="col s12 m4">
    <a href="http://thesummerset.merchnow.com/" target="_blank"><img class="full-w hoverable" src="https://s3.amazonaws.com/myfangate.com/tss2016/bundle3.jpg"></a>
  </div>
</div>
