<div class="parallax-container">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h4 class="gradient">JOIN THE #STORIESFORMONDAY COMMUNITY</h4>
      </div>
      <div class="col s12 m5 offset-m1">
        <a data-chrome="nofooter noborders transparent" class="twitter-timeline" href="https://twitter.com/hashtag/storiesformonday" data-widget-id="714528802605547521">#storiesformonday Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col s12 m5">
        <script src="https://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="https://snapwidget.com/p/widget/?id=kDI6wrWn2Q&t=799" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      </div>
    </div>
    <div class="parallax"><img src="https://s3.amazonaws.com/myfangate.com/tss2016/parallax2.jpg"></div>
  </div>
</div>
